.logo {
    color: #111B47;
}
.body{
    overflow-x: hidden;
}
.title{
    color: #091133;
}
.p-tag{
    color: #505F98;
}
.py{
    padding-top: 100px;
    padding-bottom: 100px;
}
.navbar .nav-item .nav-link {
    color: #505F98;
}
.banner{
    overflow: hidden;
    height: 850px;
}
.btn-outline{
    color: #ffffff;
    background-color: #111B47;
    border-color: #111B47;
    font-weight: bold;
    border-radius: 0;
    padding: 5px 45px;
}

.Footer {
    background-color: #E7ECFF;
}

.banner .contant h1 {
    color: #091133;
    padding-bottom: 10px;
}
.banner-image {
    position: relative;
    top: 0;
    left: 0;
}
.image1{
    position: relative;
    bottom: 23%;
    right: 40%;
}
.image2{
    position: absolute;
    top: 5%;
    left: 15%;
}
.banner-btn-1{
    color: #ffffff;
    background-color: #111B47;
    border-color: #111B47;
    font-weight: bold;
    border-radius: 0;
    padding: 5px 25px;
}

.banner-btn-2{
    color: #111B47;
    background-color: #ffffff;
    border: 2px solid #111B47;
    font-weight: bold;
    border-radius: 0;
    padding: 5px 25px;
}
.banner .contant{
    margin-top: 100px;
}
.purchese .purchese-contant img{
    width: 2000px;
    height: 938px;
    position: relative;
    top: 10%;
    right: 30%;
}
